.authentication-wrapper .authentication-basic .authentication-inner {
  max-width: 400px;
  position: relative;
}

.card-country,
.page-link,
th.sortable {
  cursor: pointer;
}

.page-link.active {
  background-color: #e1e4e8;
}

a {
  display: inline-block;
}
